
<style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
</style>

<body>

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-0">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">주변정보</h1>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="buttons">
                <div class="dropdown region">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">지역</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/around/seoul">서울</a>
                        <a class="dropdown-item" href="/around/gyeonggi">경기도</a>
                        <a class="dropdown-item" href="/around/incheon">인천</a>
                        <a class="dropdown-item" href="/around/gangwon">강원도</a>
                        <a class="dropdown-item" href="/around/chungcheong">충청도</a>
                        <a class="dropdown-item" href="/around/daejeon">대전</a>
                        <a class="dropdown-item" href="/around/jeolla">전라도</a>
                        <a class="dropdown-item" href="/around/gwangju">광주</a>
                        <a class="dropdown-item" href="/around/gyeongsang">경상도</a>
                        <a class="dropdown-item" href="/around/daegu">대구</a>
                        <a class="dropdown-item" href="/around/ulsan">울산</a>
                        <a class="dropdown-item" href="/around/busan">부산</a>
                        <a class="dropdown-item" href="/around/jeju">제주도</a>
                    </div>
                </div>
                <form method="post" action="/around">
                        <input class="form-control around-search" type="text" placeholder="산 이름" aria-label="Search" name="searchWord">
                        <button class="btn btn-primary around-search" type="submit">검색</button>
                </form>
            </div>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <% arounds.forEach(a => { %>
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <p class="card-text">
                                        <%= a.name %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <% }); %> 
                </div>
            </div>
        </div>

    </main>
</body>
