
<style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
</style>

<body>

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-0">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">주변정보</h1>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="buttons">
                <div class="dropdown region">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">지역</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/around/서울">서울</a>
                        <a class="dropdown-item" href="/around/경기">경기도</a>
                        <a class="dropdown-item" href="/around/인천">인천</a>
                        <a class="dropdown-item" href="/around/강원">강원도</a>
                        <a class="dropdown-item" href="/around/충청">충청도</a>
                        <a class="dropdown-item" href="/around/대전">대전</a>
                        <a class="dropdown-item" href="/around/전라">전라도</a>
                        <a class="dropdown-item" href="/around/광주">광주</a>
                        <a class="dropdown-item" href="/around/경상">경상도</a>
                        <a class="dropdown-item" href="/around/대구">대구</a>
                        <a class="dropdown-item" href="/around/울산">울산</a>
                        <a class="dropdown-item" href="/around/부산">부산</a>
                        <a class="dropdown-item" href="/around/제주">제주도</a>
                    </div>
                </div>
                <form method="post" action="/around">
                        <input class="form-control around-search" type="text" placeholder="산 이름" aria-label="Search" name="searchWord">
                        <button class="btn btn-primary around-search" type="submit">검색</button>
                </form>
            </div>
            <div class="container">
                <!-- <h1>회원 정보 받아서 북마크 표시한 것만 출력</h1> -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <% arounds.forEach(a => { %>
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <img src="" alt="" />
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#cae3cc" />
                                </svg>
    
                                <div class="card-body">
                                    <p class="card-text">
                                        <%= a.name %>
                                    </p>
                                    <!--<div class="d-flex justify-content-between align-items-center">
                                        <i class="fa-regular fa-heart" id="<%= //a.name %>" onclick="switchHeart(this.id)"></i>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    <% }); %> 
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <img src="./img/seongmigarden.jfif" alt="">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#cae3cc" />
                            </svg>

                            <div class="card-body">
                                <p class="card-text">
                                    성미가든
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                    </div>
                                    <i class="fa-regular fa-heart" id="seongmi" onclick="switchHeart(this.id)"></i>
                                    <!--하트 누르면 db에 저장되도록 해야 할듯?-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <img src="./img/taebaek.jpg" alt="">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#cae3cc" />
                            </svg>

                            <div class="card-body">
                                <p class="card-text">
                                    태백산
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                    </div>
                                    <i class="fa-regular fa-heart" id="taebaek" onclick="switchHeart(this.id)"></i>
                                    <!--<small class="text-muted">시간</small>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#cae3cc" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">
                                    산 이름
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                    </div>
                                    <i class="fa-regular fa-heart" id="산이름" onclick="switchHeart(this.id)"></i>
                                    <!--<small class="text-muted">시간</small>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#cae3cc" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">
                                    산 이름
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                    </div>
                                    <i class="fa-regular fa-heart" id="산이름" onclick="switchHeart(this.id)"></i>
                                    <!--<small class="text-muted">시간</small>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#cae3cc" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">
                                    산 이름
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                    </div>
                                    <i class="fa-regular fa-heart" id="산이름" onclick="switchHeart(this.id)"></i>
                                    <!--<small class="text-muted">시간</small>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#cae3cc" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">
                                    산 이름
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                    </div>
                                    <i class="fa-regular fa-heart" id="산이름" onclick="switchHeart(this.id)"></i>
                                    <!--<small class="text-muted">시간</small>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#cae3cc" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">
                                    산 이름
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                    </div>
                                    <i class="fa-regular fa-heart" id="산이름" onclick="switchHeart(this.id)"></i>
                                    <!--<small class="text-muted">시간</small>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#cae3cc" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">
                                    산 이름
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                    </div>
                                    <i class="fa-regular fa-heart" id="산이름" onclick="switchHeart(this.id)"></i>
                                    <!--<small class="text-muted">시간</small>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#cae3cc" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">
                                    산 이름
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                    </div>
                                    <i class="fa-regular fa-heart" id="산이름" onclick="switchHeart(this.id)"></i>
                                    <!--<small class="text-muted">시간</small>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
