
  <%- contentFor('linkCss') %>
  <link rel="stylesheet" href="../public/css/style.css">

<body>

  <!-- table -->
  <table class="table table-striped" id="tb">
    <thead>
      <tr>
        <th scope="col">게시글번호</th>
        <th scope="col">아이디</th>
        <th scope="col">내용</th>
        <th scope="col">날씨</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>aaa</td>
        <td>hi</td>
        <td>2018</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>bbb</td>
        <td>join us</td>
        <td>2019</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>ccc</td>
        <td>bye</td>
        <td>2020</td>
      </tr>

    </tbody>
  </table>

  <!-- search -->
  <div class="container-fluid" id="search">
    <div class="d-grid gap-4">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="게시글 검색" aria-label="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>

</body>