<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Checkout example · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/checkout/">



    <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/edit_profile.css" rel="stylesheet">

    <script src="../public/js/bootstrap.bundle.min.js"></script>

    <script src="../public/js/edit_profile.js"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>



  </head>
  <body class="bg-light">

<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Edit Profile</h2>

    </div>


      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">My Profile</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-12">
              <label for="Name" class="form-label">Name</label>
              <input type="text" class="form-control" id="Name" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid Name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="Nickname" class="form-label">Nickname</label>
              <input type="text" class="form-control" id="Nickname" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid Nickname is required.
              </div>
            </div>

            <div class="col-12">
              <label for="b-day" class="form-label">Birthday</label>
              <input type="text" class="form-control" id="b-day" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid Birthday is required.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>

            <div class="col-12">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid password
              </div>
            </div>

          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </main>


  </body>
</html>
