/* images */
img {
 height: 100%;
 width: 100%;
 object-fit: contain;
}

.d-block {
  width: 20%;
  height: 10%;
  border-radius: 100%;
  margin: 20px;
}

#tb {
  padding: 7% 15%;
}

#search {
  padding: 7% 15%;
}
