</br></br>
  <h2 class="center">게시글 작성</h2></br>
  <div class="data-form">
    <form class="form-post" action="/posts/create" method="post">

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="" class="form-control" placeholder="Title">
      </div>

      <div class="form-group">
        <label for="detail">Detail</label>
        <textarea id="detail" name="detail" value="" class="form-control" placeholder="Detail" ></textarea>
      </div>
</br>
      <div>
        <a class="btn btn-outline-success" href="/posts">Back</a>
        <button type="submit" class="btn btn-outline-success">Create</button>
      </div>

    </form>
  </div>

